<% if(errors.length){ %>
<div>
  <ul>
    <% errors.forEach(err => { %>

    <div class="alert alert-danger alert-dismissible">
      <li><%= err.msg || errors %></li>
    </div>

    <% }) %>
  </ul>
</div>
<% } %>
