<% if(errors.length){ %>
<div>
  <ul>
    <% errors.forEach(err => { %>
    <center>
      <div class="alert alert-danger alert-dismissible">
        <li><%= err.msg %></li>
      </div>
    </center>
    <% }) %>
  </ul>
</div>
<% } %>
