
<%- include('../header') -%>

<div class="container">
  <div class="row pt-3 justify-content-center">
    <div class="col-8">
      <div class="card card-default">
        <div class="card-header" style="background-color:rgb(40, 152, 20) ; color: white;""><h5>Registration</h5></div>
        <div class="card-body">

          <form class="form-horizontal" role="form" method="POST" action="/register" novalidate>
            <div class="alert alert-danger alert-dismissible" style="background-color: white; border: 0;">
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
              
              </button>
         
              <%- include('../components/validationResult') -%>

            <div class="form-group">
              <label for="name" class="control-label">Full Name</label>
              <input id="name" type="text" class="form-control" name="name" value="" required  autofocus=""/>
            </div>

            <div class="form-group">
              <label for="email" class="control-label">Email </label>
              <input
                id="email"
                type="email"
                class="form-control"
                name="email"
                value=""
                required=""
              />
            </div>

            <div class="form-group">
              <label for="password" class="control-label">Password</label>
              <input
                id="password"
                type="password"
                class="form-control"
                name="password"
                required=""
              />
            </div>
            <div class="form-group">
              <%- recaptcha %>
            </div>
            <div class="form-group">
              <button class="btn btn-outline-success btn-small" type="submit" class="btn btn-primary">Register</button>
              <!-- <a href="/login/google" class="btn btn-danger">Google Account SignUp</a> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../footer') -%>
