
  <%- include('./header') -%>

    <h1>Welcome To Home Page</h1>
    
    

    <button class="btn btn-outline-primary btn-small">Click here...</button>

    <%- include('./footer') -%>
  </body>
</html>
